<h3>Introductions and Information</h3>

<p>
Our project aims to create an online voting application that is both secure and easily accessible from the comfort of a user’s computer. The idea of an e-voting system is not new and there have been many attempts to capture this important market with just as many flaws and failures. Our effort to put forward a secure voting application does not solve these issues, but we hope to address the more important ones in this paper. </p>
<p>	We chose to try and explore the challenges involved in creating a secure, robust, and anonymous electronic voting system. Our intended audience to benefit from this will be the campus community and student government. We believe that there is definitely a need for an application like this within our school for a couple of reasons. Firstly, we know that this has been attempted previously and almost succeeded. Therefore, there is certainly a demand for this kind of technology and an audience willing to make use of it. Secondly, many students on campus enjoy the already established set of tools that allow them rights and capabilities from the comfort of their home computer. This includes, but is not limited to, online course registration, Blackboard for course syllabus, grades, and assignments, and also the AFS system that lets anyone access their files and documents that are stored here from wherever they are. Finally, as mentioned before, the previous attempt almost succeeded. This means that they haven’t fulfilled what was set out to do: an online voting application that can be used by the campus community to vote for student government. Because of these reasons, we feel that this is an important project to undertake.</p>
<p>
  <div style="text-align: center;">  
<%= link_to image_tag("intro_group_button.png"), {:controller => "groups"} %>
  </div>
</p>