<div class="right_float_containter">
<input id="username" name="username" type="text" />
<input id="password" name="password" type="password" />
<input id="login" name="login" value="login" type="button" />
</div>

<div class="center_float">
<h1>VOTE HERE!</h1>
</div>

<p>
<h2>Introductions and Information</h2>
</p>

<div class="footer">
<%= link_to "Home", @home %> |<%= link_to "Carnegie Mellon University", "http://www.cmu.edu", :popup => ['new_window_name'] %>  | Contact Us | Site Map | About Us
</div>