<h1>Listing events</h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Event Description</th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <td>
    	<%= link_to event.ename, event_candidates_path(event) %> 			  
	</td>
	<td><%=h event.edescription %></td>
  </tr>
<% end %>
</table>

<br />
