<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Description</th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%=h candidate.fname %></td>
    <td><%=h candidate.description %></td>
    <td><%= button_to "VOTE", :action => "quick_vote" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New candidate', new_candidate_path %>